<h1>My Friends</h1>

<h3>Search for Friends</h3>
<div id="stock-lookup">
	<%= form_tag search_friends_path, method: :get, id: "friend-lookup-form" do %>
	<div class="form-group row no-padding text-center col-md-12 ">
		<div class="col-md-10">
			<%= text_field_tag :search_value, params[:search_value], placeholder: "Enter full name or email", autofocus: true, class: "form-control search-box input-lg" %>
		</div>
		<div class="col-md-2">
			<%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
				<i class="fa fa-search"></i> Search 
			<% end %>
		</div>
	</div>
	<% end %>
</div>
<% if @friends.present? %>
	<div id="friend-lookup-results" class="well results-block col-md-10">
		<table class="search_results_table col-md-12">
			<tbody>
				<% @friends.each do |friend| %>
					<tr>
						<td><strong>Name:</strong> <%= friend.full_name %></td>
						<td><strong>Mobile:</strong> <%= friend.mobile_number %></td>
						<td><strong>Email:</strong> <%= friend.email %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>